{{!-- {{#ifCond user.Id_Rol '==' 1}} <!-- Solo Admin puede ver este formulario --> --}}
    <h2>Añadir Comunidad_Linguistica</h2>
    <form action="/comunidad_linguistica/guardar/comunidad_linguistica" method="POST">
        <div class="form-group">
            <label for="Nombre_Comunidad_Linguistica">Nombre de la Comunidad</label>
            <input type="text" name="Nombre_Comunidad_Linguistica" id="Nombre_Comunidad_Linguistica" required>
        </div>
        <button type="submit">Añadir</button>
    </form>
{{!-- {{else}}
    <p>No tienes permiso para añadir departamentos.</p>
{{/ifCond}} --}}
    </form>
