<h2>Añadir Consulta</h2>
<form action="/consulta/guardar/consulta" method="POST">
    <div class="form-group">
        <label for="Fecha_Consulta">Fecha de Consulta</label>
        <input type="text" name="Fecha_Consulta" id="Fecha_Consulta" required>
    </div>
    <div class="form-group">
        <label for="DPI_Paciente">DPI del paciente</label>
        <input type="text" name="DPI_Paciente" id="DPI_Paciente" required>
    </div>
    <button type="submit">Añadir</button>
</form>
