<h2 class="text-center my-4">Actualizar Controles</h2>
<form action="/control/actualizar/control" method="POST" class="container form-General">
    <input type="hidden" name="Id_Control" value="{{control.Id_Control}}" />
    <div class="form-group mb-3">
        <label for="Tipo_Control" class="form-label" >Tipo del Control</label>
        <input type="text" name="Tipo_Control" id="Tipo_Control" class="form-control" value="{{control.Tipo_Control}}" required>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form> 
