<h2 class="text-center my-4">Actualizar Departamento</h2>
<form action="/departamento/actualizar/departamento" method="POST" class="container form-General">
    <input type="hidden" name="Id_Departamento" value="{{departamento.Id_Departamento}}" />
    <div class="form-group mb-3">
        <label for="Nombre_Departamento" class="form-label">Nombre del Departamento</label>
        <input type="text" name="Nombre_Departamento" id="Nombre_Departamento" class="form-control" value="{{departamento.Nombre_Departamento}}" required>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Actualizar</button>
    </div>
</form> 
