<h2>Lista de Discapacidades</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de la Discapacidad</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each discapacidad}}
        <tr>
            <td>{{this.Id_Discapacidad}}</td> <!-- Asegúrate de que los campos coincidan con la base de datos -->
            <td>{{this.Tipo_Discapacidad}}</td>
            <td>
                <a href="/discapacidad/editar/{{this.Id_Discapacidad}}">Editar</a>
                <form action="/discapacidad/eliminar/{{this.Id_Discapacidad}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar la Discapacidad?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
