{{!-- {{#ifCond user.Id_Rol '==' 1}} <!-- Solo Admin puede ver este formulario --> --}}
    <h2>Añadir Enfermero</h2>
    <form action="/enfermero/guardar/enfermero" method="POST">
        <div class="form-group">
            <label for="DPI_Enfermero">DPI del Enfermero</label>
            <input type="text" name="DPI_Enfermero" id="DPI_Enfermero" required>
            <p></p>
            <label for="Primer_Nombre">Primer Nombre</label>
            <input type="text" name="Primer_Nombre" id="Primer_Nombre" required>
            <p></p>
            <label for="Segundo_Nombre">Segundo Nombre</label>
            <input type="text" name="Segundo_Nombre" id="Segundo_Nombre">
            <p></p>
            <label for="Tercer_Nombre">Tercer Nombre Opcional</label>
            <input type="text" name="Tercer_Nombre" id="Tercer_Nombre">
            <p></p>
            <label for="Primer_Apellido">Primer Apellido</label>
            <input type="text" name="Primer_Apellido" id="Primer_Apellido" required>
            <p></p>
            <label for="Segundo_Apellido">Segundo Apellido</label>
            <input type="text" name="Segundo_Apellido" id="Segundo_Apellido">
            <p></p>
            <label for="Id_Municipio">Ingrese ID del Municipio</label>
            <input type="text" name="Id_Municipio" id="Id_Municipio">
        </div>
        <button type="submit">Añadir</button>
    </form>
{{!-- {{else}}
    <p>No tienes permiso para añadir departamentos.</p>
{{/ifCond}} --}}
    </form>
