{{#if success_msg}}
            <div class="alert alert-danger">{{success_msg}}</div>
{{/if}}
<div class="container mt">
    <h1 class="text-center index-title">Bienvenido</h1>
    <h2 class="text-center index-subtitle">Sistema Centro Salud</h2>
    <div class="row justify-content-center mt-4">
        <div class="col-md-4">
            <div class="text-center">
                <a href="/login" class="btn btn-primary btn-block welcome-btn">Iniciar Sesión</a>
            </div>
        </div>
    </div>
</div>