<div class="container mt-5">
    <h1 class="text-center">Bienvenido</h2>
        <h2 class="text-center">Sistema Centro Salud</h2>
        <div class="row justify-content-center mt-4">
            <div class="col-md-4">
                <div class="text-center">
                    <a href="/users/login" class="btn btn-primary btn-block">Iniciar Sesión</a>
                </div>
            </div>
        </div>