<h2>Lista de Municipio</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Municipio</th>
            <th>ID Departamento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each municipio}}
        <tr>
            <td>{{this.Id_Municipio}}</td>
            <td>{{this.Nombre_Municipio}}</td>
            <td>{{this.Id_Departamento}}</td>
            <td>
                <form action="/municipio/eliminar/{{this.Id_Municipio}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar este Municipio?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
