<h2>Actualizar Municipio</h2>
<form action="/municipio/actualizar/municipio" method="POST">
    <input type="hidden" name="Id_Municipio" value="{{municipio.Id_Municipio}}" />
    <div class="form-group">
        <label for="Nombre_Municipio">Nombre de la Comunidad</label>
        <input type="text" name="Nombre_Municipio" id="Nombre_Municipio" value="{{municipio.Nombre_Municipio}}" required>
    </div>
    <button type="submit">Actualizar</button>
</form>
