<h2>Añadir Paciente Consulta</h2>
<form action="/paciente_consulta/guardar/paciente_consulta" method="POST">
    <div class="form-group">
        <label for="DPI_Paciente">DPI del Paciente</label>
        <input type="text" name="DPI_Paciente" id="DPI_Paciente" required>
        <p></p>
        <label for="Id_Consulta">Id_Consulta</label>
        <input type="text" name="Id_Consulta" id="Id_Consulta" required>
    </div>
    <button type="submit">Añadir</button>
</form>