<h2>Lista de Profesiones</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre de la Profesion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each profesion}}
        <tr>
            <td>{{this.Id_Profesion}}</td> <!-- Asegúrate de que los campos coincidan con la base de datos -->
            <td>{{this.Profesion_Oficio}}</td>
            <td>
                <a href="/profesion/editar/{{this.Id_Profesion}}">Editar</a>
                <form action="/profesion/eliminar/{{this.Id_Profesion}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar datos de profesión?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
