<h2>Lista de Pueblos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Pueblo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each pueblo}}
        <tr>
            <td>{{this.Id_Pueblo}}</td> <!-- Asegúrate de que los campos coincidan con la base de datos -->
            <td>{{this.Nombre_Pueblo}}</td>
            <td>
                <a href="/pueblo/editar/{{this.Id_Pueblo}}">Editar</a>
                <form action="/pueblo/eliminar/{{this.Id_Pueblo}}" method="POST"
                    style="display:inline;">
                    <button type="submit"
                        onclick="return confirm('¿Está seguro de que desea eliminar el Pueblo?');">Eliminar</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
