<h2>Lista de Pueblos</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre del Pueblo</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each pueblo}}
        <tr>
            <td>{{this.Id_Pueblo}}</td> <!-- Asegúrate de que los campos coincidan con la base de datos -->
            <td>{{this.Nombre_Pueblo}}</td>
            <td>
                <a href="/pueblo/editar/{{this.Id_Pueblo}}">Editar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
