{{#ifCond user.Id_Rol '==' 1}}
<h2 class="text-center my-4">Añadir Departamento</h2>
<form action="/departamento/guardar" method="POST" class="container form-General">
    <div class="form-group mb-3">
        <p><font color="red">*</font> Son campos obligatorios</p>
        <label for="Nombre_Departamento" class="form-label">Nombre del Departamento <font color="red">*</font></label>
        <input type="text" name="Nombre_Departamento" id="Nombre_Departamento" class="form-control" required>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary form-btn">Añadir</button>
        <a href="/" class="btn btn-secondary">Cancelar</a>
    </div>
</form>
{{else ifCond user.Id_Rol '==' 2}}
<h2 class="text-center my-4">Acceso Denegado</h2>
<div class="container acceso-denegado">
    <p class="text-center">No tiene permisos para acceder a esta página.</p>
    <div class="text-center mt-4">
        <a href="/dashboard" class="btn btn-danger">Volver al Inicio</a>
    </div>
</div>
{{/ifCond}}