    <h2 class="text-center my-4">Añadir Escolaridad</h2>
    <form action="/escolaridad/guardar/escolaridad"  method="POST" class="container form-General">
        <div class="form-group mb-3">
            <label for="Nivel_Escolaridad" class="form-label">Nivel de Escolaridad</label>
            <input type="text" name="Nivel_Escolaridad" id="Nivel_Escolaridad" class="form-control" required>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
    </form>
