{{#ifCond user.Id_Rol '==' 1}}
<h2 class="text-center my-4">Añadir Municipio</h2>
<form action="/municipio/guardar" method="POST" class="container form-General">
    <div class="form-group mb-3">
        <p>
            <font color="red">*</font> Son campos obligatorios
        </p>
        <label for="Nombre_Municipio" class="form-label">Nombre del Municipio <font color="red">*</font></label>
        <input type="text" name="Nombre_Municipio" id="Nombre_Municipio" class="form-control" required>
        <p></p>
        <label for="Id_Departamento" class="form-label">Departamento <font color="red">*</font></label>
        <select name="Id_Departamento" id="Id_Departamento" class="form-control" required
            aria-label="Seleccione un departamento">
            <option value="" disabled selected>Seleccione un departamento</option>
            {{#each departamentos}}
            <option value="{{this.Id_Departamento}}">{{this.Nombre_Departamento}}</option>
            {{/each}}
        </select>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Añadir</button>
    </div>
</form>
{{else ifCond user.Id_Rol '==' 2}}
<h2 class="text-center my-4">Acceso Denegado</h2>
<div class="container acceso-denegado">
    <p class="text-center">No tiene permisos para acceder a esta página.</p>
    <div class="text-center mt-4">
        <a href="/dashboard" class="btn btn-danger">Volver al Inicio</a>
    </div>
</div>
{{/ifCond}}