<h2 class="text-center my-4">Añadir Paciente Consulta</h2>
<form action="/paciente_consulta/guardar" method="POST" class="container form-General">
    <div class="form-group mb-3">
        <p><font color="red">*</font> Son campos obligatorios</p>
        <label for="DPI_Paciente" class="form-label">DPI del Paciente <font color="red">*</font></label>
        <select name="DPI_Paciente" id="DPI_Paciente" class="form-control" required>
            <option value=""disable selected > seleccione un campo </option>
            {{#each pacientes}}
            <option value="{{this.DPI}}"> {{this.DPI}} </option>
            {{/each}}
        </select>
        <p></p>
        <label for="Id_Consulta" class="form-label">Consulta <font color="red">*</font></label>
        <select name="Id_Consulta" id="Id_Consulta" class="form-control" required>
                <option value=""disable selected > seleccione un campo </option>
            {{#each consultas}}
                <option value="{{this.Id_Consulta}}"> {{this.Id_Consulta}} </option>
            {{/each}}
        </select>
    </div>
    <div class="text-center">
    <button type="submit" class="btn btn-primary">Añadir</button>
    </div>
</form>