    <h2 class="text-center my-4">Añadir Pueblo</h2>
    <form action="/pueblo/guardar/pueblo" method="POST" class="container form-General">
        <div class="form-group mb-3">
            <label for="Nombre_Pueblo" class="form-label">Nombre del Pueblo</label>
            <input type="text" name="Nombre_Pueblo" id="Nombre_Pueblo" class="form-control" required>
        </div>
        <div class="text-center">
        <button type="submit" class="btn btn-primary">Añadir</button>
        </div>
    </form>

