{{#ifCond user.Id_Rol '==' 1}}
{{!-- <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/dashboard">Centro de Salud</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"></li>
            <a class="nav-link active" aria-current="page" href="/paciente/table">Paciente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/municipio/table">Municipio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/departamento/table">Departamento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/pueblo/table">Pueblo</a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link active" aria-current="page" href="/discapacidad/table">Discapacidad</a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link active" aria-current="page" href="/escolaridad/table">Escolaridad</a>
            </li>
            <li class="nav-item"></li>
            <a class="nav-link active" aria-current="page" href="/consulta/table">Consulta</a>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/control/table">Control</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/profesion/table">Profesion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"
                    href="/comunidad_linguistica/table">Comunidad_Linguistica</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/enfermero/table">Enfermero</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/paciente_consulta/table">Paciente_Consulta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Cerrar Sesión</a>
            </li>
        </ul>
    </div>
</nav> --}}
<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
    <div class="bg-dark p-4">
        <a class="text-body-emphasis h4" href="/">
            <h5>Centro Salud</h5>
        </a>
        <a class="text-body-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Insertar
        </a>
        <ul class="dropdown-menu">
            <li><a class="text-body-secondary" href="/comunidad_linguistica/table">Comunidad Linguistica</a></li>
        </ul>
        <a class="text-body-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Listar
        </a>
        <ul class="dropdown-menu">
            <li><a class="text-body-secondary" href="/comunidad_linguistica/table">Comunidad Linguistica</a></li>
            <li><a class="text-body-secondary" href="/departamento/table">Departamento</a></li>
        </ul>
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>
{{/ifCond}}